
# variables for MonkeyType Stats Api container
MONKEYTYPE_APE_KEY=your-monkeytype-ape-key-here

# variabales for Postgres container
POSTGRES_PASSWORD=choose-a-secure-password
PATH_TO_APPDATA=path-to-postgres-data-on-host
APPUSER_PUID=user-id-for-appuser
APPUSER_PGID=group-id-for-appuser
TIMEZONE_ZONE_VALUE=your-timezone-zoneinfo-value

# variables for MonkeyType Stats Frontend container
MONKEYTYPE_STATS_FRONTEND_PORT=3001

# variables for MonkeyType Stats Dashboard container
MONKEYTYPE_STATS_ENV_DASHBOARD_PORT=19999
MONKEYTYPE_STATS_ENV_DASHBOARD_BROWSER_TOKEN=your-dashboard-browser-token-here

