# Parameter monkeytype-ape-key
MONKEYTYPE_APE_KEY=

# Container image name for monkeytype-stats-api
MONKEYTYPE_STATS_API_IMAGE=

# Default container port for monkeytype-stats-api
MONKEYTYPE_STATS_API_PORT=

# Container image name for monkeytype-stats-frontend
MONKEYTYPE_STATS_FRONTEND_IMAGE=

# Parameter postgres-password
POSTGRES_PASSWORD=

